<h1>Uploads#new</h1>
<p>Find me in app/views/uploads/new.html.erb</p>

<%= form_tag('create', multipart: true, method: :post) do %>
  	<!-- multiple: true -->
  	<%= file_field_tag :doc, :multiple => true, name: "array[]" %>
	<hr>
  	<%= submit_tag 'Submit' %>
<% end %>
<%= link_to 'Voltar', root_path %>